.consultation {
    min-height: 680px;
    background: url(../img/bg2.png) center (center / cover) no-repeat;
    padding: 103px 0 92px 0;
    &__discr {
        margin-top: 80px;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        color: #ffffff;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #ffffff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}
